.my-btn{
    width: 100%;
    margin-top: 2rem;
}

.my-gallery{
    margin: 3rem 0;
    width: fit-content;
}

.gallery-img{
    display: block;
    margin: 0 auto;
}

.image-home{
    height: 206px;
    width: 100%;
    object-fit: cover;
}
